<menu-nav></menu-nav>

<tui-elastic-container class="container max-w-screen-xl mx-auto">
  <breadcrumbs [items]="items"></breadcrumbs>
  <h2 class="text-3xl font-extrabold pt-4">Listado de usuarios</h2>

  <table class="w-full" tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'id'" tuiTh>Id</th>
        <th *tuiHead="'username'" tuiTh>Username</th>
        <th *tuiHead="'email'" tuiTh>Correo</th>
        <th *tuiHead="'user asigned'" tuiTh>Usuario asignado</th>
        <th *tuiHead="'role'" tuiTh>Rol</th>
      </tr>
    </thead>
    <tbody tuiTbody>
      <tr tuiTr *ngFor="let user of dataResponse.users; empty: blank ">
        <td *tuiCell="'id'" tuiTd>{{ user.id }}</td>
        <td *tuiCell="'username'" tuiTd>{{ user.username }}</td>
        <td *tuiCell="'email'" tuiTd>{{ user.email }}</td>
        <td *tuiCell="'user asigned'" tuiTd>{{ user.userAsigned }}</td>
        <td *tuiCell="'role'" tuiTd>{{ user.role.authority }}</td>
      </tr>
    </tbody>
  </table>


  <tui-table-pagination [total]="dataResponse.totalElements" [(page)]="dataResponse.currentPage"
    [(size)]="dataResponse.totalPages"></tui-table-pagination>

</tui-elastic-container>

<ng-template #blank>
  <no-content title="Sin usuarios" message="No hay nada que ver por aquí." #blank>
  </no-content>
</ng-template>