<menu-nav></menu-nav>
<tui-elastic-container class="container max-w-screen-xl mx-auto">
  <breadcrumbs [items]="items"></breadcrumbs>
  <h2 class="text-3xl font-extrabold pt-4 pb-4">Ciclos escolares</h2>

  <cycle-create-modal title="Nuevo registro" hint="Nuevo ciclo escolar"
    icon="fa-solid fa-plus mr-2"></cycle-create-modal>
  <table class="w-full pt-4" tuiTable [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'id'" tuiTh>Id</th>
        <th *tuiHead="'name'" tuiTh>Nombre</th>
        <th *tuiHead="'createdAt'" tuiTh>Fecha de creación</th>
        <th *tuiHead="'updatedAt'" tuiTh>Fecha de actualización</th>
        <th *tuiHead="'closedAt'" tuiTh>Status</th>
        <th *tuiHead="'update'" tuiTh>Actualizar</th>
        <th *tuiHead="'delete'" tuiTh>Eliminar</th>
      </tr>
    </thead>
    <tbody tuiTbody>
      <tr tuiTr *ngFor="let cycle of cycleResponse.content; empty: blank ">
        <td *tuiCell="'id'" tuiTd>{{ cycle.id }}</td>
        <td *tuiCell="'name'" tuiTd>
          <a class="text-blue-800 font-bold" tuiLink [routerLink]="['/ciclos-escolares/',cycle.id]">
            {{ cycle.name }}
          </a>
        </td>
        <td *tuiCell="'createdAt'" tuiTd>{{ cycle.createdAt | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
        <td *tuiCell="'updatedAt'" tuiTd>{{ cycle.updatedAt | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
        <td *tuiCell="'closedAt'" tuiTd>{{ cycle.closedAt | date: 'dd/MM/yyyy h:mm:ss a' }}</td>
        <td *tuiCell="'update'" tuiTd>
          <cycle-update-modal hint="Actualizar ciclo escolar" icon="fa-solid fa-edit"
            [id]="cycle.id"></cycle-update-modal>
        </td>
        <td *tuiCell="'delete'" tuiTd>
          <button appearance="accent" tuiButton size="s" tuiHint="Eliminar ciclo escolar" tuiHintDirection="top">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <tui-table-pagination class="mt-4" [total]="cycleResponse.totalElements" [(page)]="currentPage" [(size)]="pageSize"
    (pageChange)="onPageChange($event)" (sizeChange)="onSizeChange($event)"></tui-table-pagination>

</tui-elastic-container>

<ng-template #blank>
  <no-content title="Sin ciclos escolares" message="No hay nada que ver por aquí." #blank>
  </no-content>
</ng-template>